* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    height: 100%;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans",
                Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* a blue color as a generic focus style */
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: "Suisse Intl-Bold";
    src: url("public/fonts/SuisseIntl-Bold.otf") format("opentype");
}

@font-face {
    font-family: Suisse Intl-Regular;
    src: url("public/fonts/SuisseIntl-Regular.otf") format("opentype");
}

@font-face {
    font-family: Suisse Intl-Medium;
    src: url("public/fonts/SuisseIntl-Medium.otf") format("opentype");
}

@font-face {
    font-family: "VDNHLebedev2";
    src: url("public/fonts/VDNHLebedev2-Regular.otf") format("opentype");
}

@font-face {
    font-family: TT Norms-Medium;
    src: url("public/fonts/SuisseIntl-Regular.otf") format("opentype");
}
