.title {
  color: #414141;
  font-family: Suisse Intl-Regular;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  /* 100% */
}

@media (max-width: 991.98px) {
  .title {
    font-size: 26px;
    margin-top: 10px;
  }
}

